.container{
    display: flex;
    background-color: #ffd62a;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: auto;
    padding: 0%;
 }
 
 .item{
     background-color:#b02aff;
     width: 100px;
     height: 100px;
     list-style: none;
     margin-left: 5px;
 }