.tile {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 600px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

img{
  height: 100px;
  margin-left: 200px;
}