.container{
    display:flex;
}

.item{
    height: 300px;
}

.green{
    background-color: #51d400;
    flex-grow: 0.5;
}

.yellow{
    background-color: #ffd62a;
    flex-grow: 1;
}

.purple{
    background-color:#b02aff;
    flex-grow: 0.5;
}